div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
mat-card {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  top: 1vh;
  background-color: rgb(255, 255, 255);
  padding: 2vh;
}

img{
  width: 170px;
  height: 200px;

}
.image{
  height: 200px;
}
mat-card-header{
  height: 100px;
}
